<div class='header-search'>
<%= search_form_for @q, url: search_items_path, class: 'header-search-form', id: 'item-search-form' do |f| %>
  <div class='header-search-main'>
    <div class='search-form'>
      <div class='header-search-group'>
        <label class='header-search-text'>キーワード検索</label>
      </div>
      <%= f.search_field :name_or_shop_name_i_cont, class: 'header-search-input' %>
    </div>
    <div class='search-form'>
      <div class='header-search-group'>
        <label class='header-search-text'>ショップ名</label>
      </div>
      <%= f.collection_select :shop_id_eq, @item_shop, :id, :name, include_blank: '指定なし' %>
    </div>
    <div class='search-form'>
      <div class='header-search-group'>
        <label class='header-search-text'>カテゴリー</label>
      </div>
      <%= f.collection_select :category_category_name_id_eq, @category_name, :id, :name, include_blank: '指定なし' %>
    </div>
    <div class='search-form'>
      <div class='header-search-group'>
        <label class='header-search-text'>カラー</label>
      </div>
      <%= f.collection_select :color_id_eq, @item_color, :id, :name, include_blank: '指定なし' %>
    </div>
    <div class='search-form'>
      <div class='header-search-group'>
        <label class='header-search-text'>価格</label>
      </div>
      <div class='header-search-field'>
          <%= f.number_field :price_gteq, class: 'header-search-price' %>〜<%= f.number_field :price_lt, class: 'header-search-price' %>円
      </div>
    </div>
  
    <div class='search-form header-search-btn'>
      <%= f.submit '検索', class: 'header-search-submit' %>
    </div>
  </div>
<% end %>
</div>