<%= search_form_for @q, url: search_items_path, class: 'top-search-form hidden', id: 'item-search-form' do |f| %>
<div class='top-search-main'>
  <div class='top-search-group'>
    <label class='top-search-text'>キーワード検索</label>
    <%= f.search_field :name_or_shop_name_i_cont, class: 'top-search-input' %>
  </div>
  <div class='top-search-group top-search-shop'>
    <label class='top-search-text'>ショップ名</label>
    <%= f.collection_select :shop_id_eq, @item_shop, :id, :name, include_blank: '指定なし' %>
  </div>
  <div class='top-category-color'>
    <div class='top-search-group top-search-category'>
      <label class='top-search-text'>カテゴリー</label>
      <%= f.collection_select :category_category_name_id_eq, @category_name, :id, :name, include_blank: '指定なし' %>
    </div>
    <div class='top-search-group top-search-color'>
      <label class='top-search-text'>カラー</label>
      <%= f.collection_select :color_id_eq, @item_color, :id, :name, include_blank: '指定なし' %>
    </div>
  </div>
  <div class='top-search-group'>
    <label class='top-search-text'>価格</label>
    <div class='top-seach-field'>
      <%= f.number_field :price_gteq, class: 'top-search-price' %>〜<%= f.number_field :price_lt, class: 'top-search-price' %>円
    </div>
  </div>


  <div class='top-search-button'>
    <%= f.submit '検索', class: 'top-search-submit' %>
  </div>
</div>
<% end %>