<%= render "shared/header" %>

<%= render "shared/search" %>

<h1><%= @shop.name %></h1>
<h2>商品一覧</h2>

<% if current_owner == @shop.owner %>
  <%= link_to '出品する', new_shop_item_path %>
<% end%>

<div>
<% if @items.present? %>
  <% @items.each do |item| %>
    <%= link_to shop_item_path(@shop.id, item.id), method: :get do %>
      <%= image_tag item.image.variant(resize: '400x400') %>
      <div>
      <%= item.name %>
      </div>
    <% end %>
  <% end %>
<% elsif current_owner == @shop.owner %>
  商品を出品してください
<% else %>
  商品はありません
<% end %>
</div>