<div class='shop-top-page'>
  <%= render "shared/title_header" %>

  <%= render "shared/header" %>

  <%= render "shared/search" %>

  <div class='shop-top-main'>
    <div class='shop-title'>
      <div class='shop-title-name'>
        <%=link_to @shop.name, shop_items_path(@shop.id), class: 'shop-name' %>
      </div>
      <div class='top-main-name'>
        <% if current_owner == @shop.owner %>
          <%= link_to new_shop_item_path, class: 'display' do%>
            <p class='display-text'>出品する</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class='shop-info'>
      <%= @shop.info %>
    </div>

    <div class='shop-item-lists'>
      <ul class='item-lists'>
        <% if @items.present? %>
          <% @items.each do |item| %>
            <li class='list'>
              <%= link_to shop_item_path(@shop.id, item.id), method: :get, class: 'list-item' do %>
                <%= image_tag item.image, class: 'list-item-img' %>
                <div class='shop-item-info'>
                  <h4 class='shop-item-name'><%= item.name %></h4>
                  <% if item.order.present? %>
                    <div class='shop-item-status'>
                      Sold Out
                    </div>
                  <% else %>
                    <div class='shop-item-status'>
                      ¥<%= item.price %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </li>
          <% end %>
        <% elsif current_owner == @shop.owner %>
          <div class='shop-no-item'>
            商品を出品してください
          </div>
        <% else %>
          <div class='shop-no-item'>
            商品はありません
          </div>
        <% end %>
      </ul>
    </div>
  </div>

  <%= render "shared/footer" %>
</div>