<div class='search-result'>
  <%= render "shared/title_header" %>

  <%= render "shared/header" %>

  <%= render "shared/search" %>

  <div class='search-main'>
    <h1 class='search-list-title'><%= @results.count %>件</h1>
    <ul class='item-lists'>
      <%if @results.length !=0 %>
        <% @results.each do |result| %>
          <li class='list'>
            <%= link_to shop_item_path(result.shop.id, result.id), method: :get, class: 'list-item' do %>
            <%= image_tag result.image, class: 'list-item-img' %>
            <p class='list-item-name'><%= result.name %></p>
            <% if result.order.present? %>
              <p class='list-item-status'>Sold Out</p>
            <% else %>
              <p class='list-item-status'>¥<%= result.price %></p>
              <p class='list-shop-name'><%= result.shop.name %></p>
            <% end %>
          </li>
          <% end %>
        <% end %>
      <% else %>
        該当する商品はありません
      <% end %>
    </ul>
  </div>

  <%= render "shared/footer" %>
</div>